-if object.errors.any?
  %div#error_explaination
    %div.alert.alert-error
      The form contains
      =pluralize(@user.errors.count, 'error')
    -@user.errors.full_messages.each do |msg|
      %li
        =msg

